

.cont{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.div{
    border-radius: 20px;
    box-sizing: border-box;
    background-color: rgba(128, 0, 128, 0.548);
    color: greenyellow;
    width: 800px;
    text-align: center;
    font-size: 30px;
    margin: 100px;
}

h1 {
    margin : 80px
}

h3{
    margin :80px;
}
