@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
.App {
   text-align: center;
   background-image: url("./components/Cards/imagen-fondo.jpg");
   background-repeat: no-repeat;
   background-position: center center;
    height: 5000px;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.nav{
   background-color: rgb(118, 13, 156);
   height: 100px;
   border: 20px;
   padding: 1em;
   display: flex;
   flex-direction:row-reverse;
   justify-content: space-between;
   align-items: center;
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
   
}
.botonlink{
   border-style: solid;
   background-color: rgba(172, 255, 47, 0.831);
   padding: 5px;
   border-radius: 10px;
}
.botonlink:hover{
   -moz-box-shadow: 10px 10px 41px 28px rgba(0, 0, 0, 0.737);
box-shadow: 5px 5px 15px 8px rgba(0, 0, 0, 0.76);
}





